/* Adjust the font and background color of the header */
h1 {
  font-size: 28px;
  background-color: rgb(51, 51, 51);
  color: white;
  padding: 10px;
  margin-bottom: 0;
  display: flex;
  align-items: center;
}

/* Insert a logo to the left of the title */
h1::before {
  content: "";
  background-image: url("logo_small.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

/* Customize the title text */
h1 span {
  font-size: 24px;
  font-weight: bold;
}

h2 {
  font-size: 24px;
  background-color: white;
  color: black;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 0;
}
